body {
    background-color: #cccccc;

}

#headerPosition{
display: flex;
position: static;
justify-content: space-around;
max-width: 800px;
min-width: 800px;
}

/*logo*/
#logo {
    background-color: #eeeeee;
    border-radius:7px;
    padding: 10px;
    width: 100px;
    height: 75px;
}

#team9Logo {
    width: 70px;
    display: block;
    margin: 0 auto;
}

/*banner*/
#banner {
    background-color: #eeeeee;
    border-radius: 7px;
    padding: 10px;
    width: 500px;
    height: 75px;
    min-width: 250px;
    text-align: center;
}
#bannerText{
    color:#1c1c1c;
    font-family: "Open Sans";
    font-size: 50px;
}

/*handlekurv icon*/
#handlevogn {
    background-color: #eeeeee;
    color: #1c1c1c;
    font-size: 50px;
    border-radius:7px;
    padding: 10px;
    width: 100px;
    height: 75px;
    text-align: center;
}

#handlevogn:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.handlevognEmptyIcon{

}