body {
    background-color: #cccccc;
    font-family: "Open Sans";

}

#headerPosition{
    display: flex;
    position: static;
    justify-content: space-around;
    max-width: 800px;
    min-width: 920px;
}

/*logo*/
#logo {
    background-color: #ffffff;
    border-radius:7px;
    padding: 10px;
    width: 100px;
    height: 75px;
}

#team9Logo {
    width: 70px;
    display: block;
    margin: 0 auto;
}

/*banner*/
#banner {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px;
    width: 600px;
    height: 75px;
    min-width: 250px;
    text-align: center;
}
#bannerText{
    color:#1c1c1c;
    font-family: "Open Sans";
    font-size: 50px;
}


/*handlekurv icon*/
#handlevogn {
    background-color: #ffffff;
    color: #1c1c1c;
    font-size: 50px;
    border-radius:7px;
    padding: 10px;
    width: 100px;
    height: 75px;
    text-align: center;
}

#handlevogn:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.handlevognEmptyIcon{

}

/*annonse*/
#annonseliste {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-gap: 10px;
    justify-content: center;
}

.listElement {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    height: 200px;
    width: 425px;
}

.bilBilde {
    margin-right: 10px;
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    left: 10px;
}

.bilNavn {
    font-size: 20px;
    font-weight: bold;
    width:100%;
    text-align: left;
    position: absolute;
    left: 225px;
    top: 20px;
}

.bilPris {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 225px;
    top: 60px;
}   

.bilTilstand {
    font-size: 13px;
    width: 200px;
    text-align: left;
    position: absolute;
    left: 225px;
    top: 100px;
}

.listHandlevognEmptyIcon {
    font-size: 20px;
    text-align: left;
    position: absolute;
    left: 400px;
    top: 170px;
}

.handlevognPlus {
    font-size: 1.5rem;
    color: #007bff;
    transition: all 0.2s ease-in-out;
}

.handlevognPlus:hover {
    color: #28a745;
}
#cartList{
    display: none;
    background-color: white;
    border: solid white 3px;
    width: 250px;
    margin-left: 110px;
    border-radius: 10px;
}

.cartElement{
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px 50px;

}
.cartImg{
    grid-row: 1;
    grid-column: 1;
    width: 100px;
    padding-left: 10px;
}
.cartText{
    grid-row: 1;
    font-size: 15px;
    font-weight: bold;
    grid-column: 2;
    padding-left: 10px;
    width: 100px;
}
.cartKnapp{
    grid-column: 4;
    grid-row: 1;
    padding-left: 10px;
}
.cartPrice{
    grid-row: 1;
    font-size: 10px;
    grid-column: 3;
    padding-left: 10px;
}