body {
    background-color: #cccccc;

}

#headerPosition{
    display: flex;
    position: static;
    justify-content: space-around;
    max-width: 800px;
    min-width: 800px;
}

/*logo*/
#logo {
    background-color: #eeeeee;
    border-radius:7px;
    padding: 10px;
    width: 100px;
    height: 75px;
}

#team9Logo {
    width: 70px;
    display: block;
    margin: 0 auto;
}

/*banner*/
#banner {
    background-color: #eeeeee;
    border-radius: 7px;
    padding: 10px;
    width: 500px;
    height: 75px;
    min-width: 250px;
    text-align: center;
}
#bannerText{
    color:#1c1c1c;
    font-family: "Open Sans";
    font-size: 50px;
}


/*handlekurv icon*/
#handlevogn {
    background-color: #eeeeee;
    color: #1c1c1c;
    font-size: 50px;
    border-radius:7px;
    padding: 10px;
    width: 100px;
    height: 75px;
    text-align: center;
}

#handlevogn:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.handlevognEmptyIcon{

}

/*annonse*/
#annonseliste {
    background-color: #eeeeee;
    border-radius:7px;
    width: 787px;
    height: fit-content;
    margin-top: 10px;
}

.listElement {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.bilBilde {
    width: 30%;
    margin-right: 10px;
}

.bilNavn {
    font-size: 1.2rem;
    font-weight: bold;
    width: 30%;
    text-align: center;
}

.bilPris {
    font-size: 1.2rem;
    font-weight: bold;
    width: 15%;
    text-align: center;
}

.bilTilstand {
    font-size: 1rem;
    width: 35%;
    text-align: center;
}

.listHandlevognEmptyIcon {
    width: 10%;
    cursor: pointer;
}

.handlevognPlus {
    font-size: 1.5rem;
    color: #007bff;
    transition: all 0.2s ease-in-out;
}

.handlevognPlus:hover {
    color: #28a745;
}
#cartList{
    display: none;
}

.cartElement{

}
.cartImg{

}
.cartText{

}
